/* Anatomia

* Declaration
* Seletor
* {} - context
* Properties
* Property value
*/


body {
    background-color: blanchedalmond;
    text-align: center;
}

h1 {
    color: blue;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Especificidade
    - Cada seletor tem um peso
    - Soma dos pesos faz a declaração ser aplicada
    
    #id - 100
    .class - 10
    element - 1
*/

#color-primary {
    color: blue;
}

.green {
    color: green;
}

p {
    color: red;
}

