/* Anatomia

* Declaration
* Seletor
* {} - context
* Properties
* Property value
*/


body {
    background-color: beige;
    text-align: center;
}

h1 {
    color: blue;
    font-size: 60px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* Especificidade
    - Cada seletor tem um peso
    - Soma dos pesos faz a declaração ser aplicada
    
    #id - 100
    .class - 10
    element - 1
*/

p#color-primary.green {
    color: black;
}

#color-primary {
    color: blue;
}

.green {
    color: green;
}

p {
    color: red;
}

/* Mais específico
    - style -> menos pesado que o important
    - !important -> o mais pesado de todos
 */

 /* Valores e unidades de medida */

 /* Combinator
    - Descendent
        article p
    - List
        span, mark
    - Next sibling
        h2 + p
    - Child
        aside > ul
 */
